/* Estilos para el Dashboard */

.dashboard-container {
  display: flex;
  height: 100vh;
}

.dashboard-content {
  flex-grow: 1;
  padding: 20px;
  background: #f8f8f8;
}

.dashboard-main {
  margin-top: 20px;
}

.dashboard-main h4 {
  font-size: 24px;
  font-weight: bold;
  color: #4a2e2b;
}

.subtitulo {
  font-size: 16px;
  color: #8a6b5b;
  margin-top: 10px;
}

.btn-add {
  background-color: #862d26;
  color: white;
  padding: 12px 20px;
  border-radius: 6px;
  font-weight: bold;
  margin-top: 20px;
}

.casa-card {
  background-color: #f0d9c3;
}

.btn-ver-detalles, .btn-actualizar {
  margin-top: 10px;
}
