.header-container {
  padding: 20px;
  background-color: #f8f8f8;
}

.header-top {
  text-align: right;
  margin-bottom: 20px;
}

.admin-name {
  font-size: 18px;
  color: #3a1110;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  flex-grow: 1;
  margin-left: 20px;
}

.page-title {
  font-size: 24px;
  color: #3a1110;
}

.header-center {
  text-align: center;
  flex-grow: 2;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-input {
  width: 200px;
}

.filter-btn {
  background-color: #862d26;
  color: white;
  padding: 6px 16px;
  border-radius: 4px;
}

.btn-add {
  background-color: #862d26; /* El color que quieres para el botón */
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.btn-add:hover {
  background-color: #862d26; /* Mantiene el mismo color en hover */
  opacity: 0.9; /* Si deseas que el botón tenga un pequeño cambio de opacidad al pasar el cursor */
}
