.sidebar-container {
  width: 240px;
  background-color: #f2cbb6;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-container {
  text-align: center;
}

.logo-img {
  width: 100px;
}

.nav-links {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.nav-link {
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.nav-link svg {
  margin-right: 10px; /* Espacio entre el ícono y el texto */
  font-size: 20px; /* Tamaño del ícono */
}

.nav-link:hover {
  background-color: #862d26;
  border-radius: 6px;
}

.nav-link.active {
  background-color: #862d26;
  border-radius: 6px;
}

.logout-btn {
  margin-top: 30px;
  background-color: #862d26;
  color: white;
  padding: 12px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-weight: bold;
}

.logout-btn:hover {
  background-color: #6b1f1a;
}
