.bg-house {
    background-color: #F2CBB6;
    padding: 30px;
  }
  
  /* Imagen de la casa */

  
/* Imagen de la casa */
.house-img {
  width: 50%;
  height: 100%;
  object-fit: cover;  
  object-position: center center; /*  Esto centra la imagen arriba (aj煤stalo si lo prefieres centrado completo) */
  /*  Recorta sin deformar */
  border-radius: 8px;
}

/* Card debe tener altura consistente para evitar saltos */
.house-card {
  width: 100%;
  height: 330px; /*  Altura fija para todas las cards */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 20px; /* Agrega un margen inferior para separar las tarjetas */

}
  /* Boton para eliminar */
.btn-delete{
    background-color: #c05c55 !important;
    color: #fff !important;
    border: none !important;
    font-weight: 600;
    margin-right: 10px; /* Espacio a la derecha del bot贸n */

  }
  
  .btn-delete:hover {
    background-color: #9e0303 !important;
    color: #fff !important;
    border: none !important;


}

  
  /* Bot贸n azul: Actualizar */
  .btn-update {
    background-color: #99C8E4 !important;
    color: #000 !important;
    border: none !important;
    font-weight: 600;
    margin-right: 10px; /* Espacio a la derecha del bot贸n */

  }
  
  .btn-update:hover {
    background-color: #146b9e !important;
    color: #000 !important;
  }
  
  /* Bot贸n rojo: Ver detalles */
  .btn-details {
    background-color: #5cbd5c !important;
    color: #fff !important;
    border: none !important;
    font-weight: 600;
  }
  
  .btn-details:hover {
    background-color: #106b27 !important;
    color: #fff !important;
  }
  

  .card-img-top {
    width: 100%;
    height: 160px;/* Altura fija */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5eae1;
    padding: 5px;
    border-bottom: 1px solid #ddd;
  }


  /*  Cuerpo de la card */
.card-body {
  flex: 1;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}