/* ResidentCard.css */
.resident-card {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .resident-img {
    max-width: 100%;
    border-radius: 50%;
    max-height: 150px;
  }
  
  .bg-resident {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
  }
  
  .card-body {
    text-align: center;
  }
  
  .btn-details {
    background-color: #9b2d20;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 5px;
  }
  